.slide-enter-active {
    transition: all 1s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(40px);
    opacity: 0;
}

/* 添加样式，隐藏之前的元素 */
.slide-leave-active {
    display: none;
}

.inner-enter-active {
    transition: all 1s ease-in-out;
}

.inner-enter-from,
.inner-leave-to {
    transform: translateX(30px);
}

/* 添加样式，隐藏之前的元素 */
.inner-leave-active {
    display: none;
}


.text-enter-active {
    transition: all 1.5s ease-in-out;
}

.text-enter-from,
.text-leave-to {
    transform: translateY(40px);
    opacity: 0;
}

/* 添加样式，隐藏之前的元素 */
.text-leave-active {
    display: none;
}


  .back{
    background-image: url('/src/assets/svg/composition-24.svg');
  }