/* src/assets/styles.css */

@font-face {
    font-family: 'SmileySans-Oblique';
    src: url('./font/SmileySans-Oblique.ttf.woff2') format('woff2');
    font-weight: normal;
    font-style: oblique;
  }
  
  body {
    font-family: 'SmileySans-Oblique', sans-serif;
  }
  